@import url('https://fonts.googleapis.com/css2?family=Liter&display=swap');

body {
    font-family: "Liter";
}

#logo {
    padding-top: 20px;
    padding-left: 14vw;
}

#settings {
    float: left;
    width: 150px;
    line-height: 0.8;
    padding-left: 20vw;
    padding-bottom: 4vw;
    flex-shrink: 0;
    transition: opacity 0.5s ease-in-out;
}

#active-area, #result-area {
    text-align: center;
    float: left;
    border: 2px solid black;
    width: 600px;
    height: 600px;
    padding: 10px;
}

#description-area {
    flex-grow: 1;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
}

#startText {
    cursor: pointer;
}

#wordDescription {
    font-size: larger;
}

#navigation {
    font-size: larger;
}

.description-area.hidden{
    visibility: hidden;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.settings-time, .settings-description {
    margin-right: 0.4vw;
    font-weight: normal;
    cursor: pointer;
}

.settings-time.selected, .settings-description.selected {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.letter-box {
    border: 2px solid;
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

.letter-box.first-box {
    border: 2px solid;
    border-right-style: dashed;
}

.letter-box.middle-box {
    border: 2px solid;
    border-left-style: none;
    border-right-style: dashed;
}

.letter-box.last-box {
    border: 2px solid;
    border-left-style: none;
}

/* @media screen and (max-width: 800px){
    #guess-area {
        width: 100%;
    }
    #settings{
        width: 100%;
    }
} */