@import url('https://fonts.googleapis.com/css2?family=Liter&display=swap');

:root {
    --settings-margin-left: 20vw;
    --settings-area-width: 150px;
    --active-area-width: 800px;
}

body {
    font-family: "Liter";
}

#logo {
    text-align: center;
}

#settings, #time-area, #user-menu {
    float: left;
    width: var(--settings-area-width);
    line-height: 0.8;
    margin-left: 15px;
    padding-bottom: 4vw;
    flex-shrink: 0;
    transition: opacity 0.5s ease-in-out;
}

#active-area, #result-area {
    text-align: center;
    border: 2px solid black;
    width: var(--active-area-width);
    height: 400px;
    padding: 10px;
}

#register-login-area {
    margin: auto;
    width: var(--active-area-width);
}

#startText,  #nextWord, #restart{
    cursor: pointer;
}

#wordDescription {
    font-size: larger;
}

#navigation {
    text-align: center;
    font-size: larger;
}

.register {
    float: left;
}

.login {
    float: right;
}

.valueInput {
    width: 100px;
    margin-bottom: 10px;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.upper-active-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-time, .settings-description {
    margin-right: 0.4vw;
    font-weight: normal;
    cursor: pointer;
}

.settings-time.selected, .settings-description.selected {
    font-weight: bold;
}

.letter-box {
    border: 2px solid;
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

.letter-box.first-box {
    border-right-style: dashed;
}

.letter-box.middle-box {
    border-left-style: none;
    border-right-style: dashed;
}

.letter-box.last-box {
    border-left-style: none;
}