@import url('https://fonts.googleapis.com/css2?family=Liter&display=swap');

:root {
    --settings-area-width: 200px;
    --active-area-width: 800px;
    --active-area-height: 400px;
}

body {
    font-family: "Liter";
}

#logo {
    text-align: center;
}

.center-content{
    display: block;
    width: calc(var(--settings-area-width)
    + var(--active-area-width)
    + var(--settings-area-width));
    margin: auto;
}

.upper-active-area {
    display: grid;
    grid-template-columns:
    var(--settings-area-width)
    var(--active-area-width)
    var(--settings-area-width);
}

#settings, #time-area, #user-menu {
    margin: auto;
    line-height: 0.8;
    margin-left: 15px;
    margin-right: 15px;
    transition: opacity 0.5s ease-in-out;
}

#description-area{
    line-height: 1;
}

#active-area, #result-area {
    height: var(--active-area-height);
    text-align: center;
    border: 2px solid black;
    padding: 15px;
}

#register-login-area {
    margin: auto;
    width: var(--active-area-width);
}

#startText,  #nextWord, #restart{
    cursor: pointer;
}

#wordDescription {
    font-size: larger;
}

#navigation {
    text-align: center;
    font-size: larger;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.settings-time, .settings-description {
    margin-right: 0.4vw;
    font-weight: normal;
    cursor: pointer;
}

.settings-time.selected, .settings-description.selected {
    font-weight: bold;
}

.letter-box {
    border: 2px solid;
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

.letter-box.first-box {
    border-right-style: dashed;
}

.letter-box.middle-box {
    border-left-style: none;
    border-right-style: dashed;
}

.letter-box.last-box {
    border-left-style: none;
}

.guessed {
    font-weight: bold;
}

.margin-div {
    width: 100%;
    height: 10px;
}

.link {
    text-decoration: none;
    color: inherit;
}

.register {
    float: left;
}

.login {
    float: right;
}

.valueInput {
    width: 100px;
    margin-bottom: 10px;
}