@import url('https://fonts.googleapis.com/css2?family=Liter&display=swap');

:root {
    --settings-area-width: 200px;
    --active-area-width: 800px;
    --active-area-height: 400px;
}

body {
    font-family: "Liter";
}

#navbar {
    display: flex;
    width: var(--active-area-width);
    justify-content: space-between;
    margin: auto;
}

#logo, #settingsLink {
    float: left;
}

#user-menu {
    display: flex;
    gap: 20px;
    transition: opacity 0.5s ease-in-out;
}


#settings{
    display: flex;
    width: calc(var(--active-area-width)/2);
    justify-content: space-between;
    margin: auto;
    line-height: 0.8;
    transition: opacity 0.5s ease-in-out;
}

#time-area{
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 0.8;
    margin-right: 15px;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
}

#description-area {
    position: sticky;
    top: 0;
    padding: 10px;
    line-height: 1;
    margin-bottom: 10px;
    background-color: white;
}

#active-area, #result-area {
    position: relative;
    width: var(--active-area-width);
    height: var(--active-area-height);
    margin: auto;
    text-align: center;
    border: 2px solid black;
    padding-bottom: 10px;
    overflow-y: auto;
}

#settingsPage-container {
    width: calc(var(--active-area-width) - 50px);
    margin: auto;
}

#register-login-area {
    margin: auto;
    width: calc(var(--active-area-width) - 10px);
}

#startText,  #nextWord, #restart {
    cursor: pointer;
}

#startText {
    top: -10px;
}

#wordDescription {
    font-size: larger;
    width: calc(var(--active-area-width) -  var(--settings-area-width));
    margin: auto;
}

#outputSection {
    text-align: left;
    padding-left: 20px;
    width: calc(var(--active-area-width) -  var(--settings-area-width));
    margin: auto;
}

#navigation {
    text-align: center;
    font-size: larger;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.settings-time, .settings-description {
    margin-right: 0.4vw;
    font-weight: normal;
    cursor: pointer;
}

.settings-time.selected, .settings-description.selected {
    font-weight: bold;
}

.letter-box {
    border: 2px solid;
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

.letter-box.first-box {
    border-right-style: dashed;
}

.letter-box.middle-box {
    border-left-style: none;
    border-right-style: dashed;
}

.letter-box.last-box {
    border-left-style: none;
}

.guessed {
    color: darkgreen;
    border-color: black;
    font-weight: bold;
}

.contains {
    color: darkorange;
    border-color: black;
    font-weight: bold;
}

.notGuessed {
    color: darkred;
    font-weight: bold;
}

.margin-div {
    width: 100%;
    height: 10px;
}

.link {
    text-decoration: none;
    color: inherit;
}

.register {
    float: left;
}

.login {
    float: right;
}

.valueInput {
    width: 100px;
    margin-bottom: 10px;
}

.setting-name {
    margin-bottom: 10px;
}

@media (max-width: 1220px) {
    :root {
        --active-area-width: 700px;
    }

    .letter-box {
        width: 45px;
        height: 45px;
    }
}