<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div id="navbar">
        <div id="logo">
            <h1><a href="/" class="link">Cription</a></h1>
        </div>
        <div id="navbar-area">
            <a href="settings" class="link"><img src="icons/settings.svg" width="24" height="45" alt=""></a>
            <a href="login" class="link"><img src="icons/login.svg" width="24" height="45" alt="login icon"></a>
        </div>
    </div>
    {{{body}}}
</body>
{{{script}}}
</html>