<div id="account-area">
    <h2>Your Progress</h2>
    <div id="countLevelWord-area">
        <div>
            <h3>A1</h3>
            <p id="A1WordsCount">0/0</p>
        </div>
        <div>
            <h3>A2</h3>
            <p id="A2WordsCount">0/0</p>
        </div>
        <div>
            <h3>B1</h3>
            <p id="B1WordsCount">0/0</p>
        </div>
        <div>
            <h3>B2</h3>
            <p id="B2WordsCount">0/0</p>
        </div>
        <div>
            <h3>C1</h3>
            <p id="C1WordsCount">0/0</p>
        </div>
        <div>
            <h3>C2</h3>
            <p id="C2WordsCount">0/0</p>
        </div>
    </div>
    <div id="counters-words">
        <h3>Total</h3>
        <h3 id="guessed-words">0/0</h3>
    </div>
    <div id="captions">
        <p>Guessed Words</p>
    </div>
    <p id="username" style="margin: 0;">user</p>
</div>
<p id="signOutLabel" style="cursor: pointer;">Sign Out</p>