<div id="active-area">
    <div id="settingsAbout">
        <h2 id="wordLevel" class="hidden">B1</h2>
        <div id="time-area" class="hidden">
            <h2 id="timeCounter">Time</h2>
        </div>
    </div>
    <div id="description-area">
        <h2 id="descriptionTitle">Description</h2>
        <span id="wordDescription">the description of word will be displayed here</span>
    </div>
    <div id="settings-area">
        <div>
            <h2>Level</h2>
            <span class="settings-words">A1</span>
            <span class="settings-words">A2</span>
            <span class="settings-words selected">B1</span>
            <span class="settings-words">B2</span>
            <span class="settings-words">C1</span>
            <span class="settings-words">C2</span>
        </div>
        <div>
            <h2>Time</h2>
            <div>
                <span class="settings-time">30</span>
                <span class="settings-time">60</span>
                <span class="settings-time">120</span>
                <span class="settings-time selected">Any</span>
            </div>
        </div>
    </div>
    <p id="wordCount"></p>
</div>
<div id="result-area" style="display: none;">
    <div id="outputSection">
        <div id="description-area-result">
            <h2 id="currentWord">Abandon</h2>
            <p id="wordDescription">To leave something or someone behind, often without intending to return or with a
                sense
                of finality.</p>
        </div>
        <div id="examples-area">
            <p id="firstExample">She had to abandon the project due to lack of funding.</p>
            <p id="secondExample">The crew made a quick decision to abandon the sinking ship.</p>
        </div>
        <p id="examplesCaption">Examples</p>
        <h3 id="resultText">Correct! You're on fire!</h3>
    </div>
</div>
<div id="navigation">
    <p id="startText" style="display: inline;">Click here or press Space to start</p>
    <p id="restartText" style="display: none;">Click here or press Tab to restart</p>
</div>