<div id="active-area" style="display: none;">
    <div id="settingsAbout">
        <h2 id="wordLevel" class="hidden">B1</h2>
        <div id="time-area" class="hidden">
            <h2 id="timeCounter">Time</h2>
        </div>
    </div>
    <div id="description-area">
        <h2 id="descriptionTitle">Description</h2>
        <span id="wordDescription">the description of word will be displayed here</span>
    </div>
    <div id="settings-area">
        <div>
            <h2>Level</h2>
            <span class="settings-level">A1</span>
            <span class="settings-level">A2</span>
            <span class="settings-level selected">B1</span>
            <span class="settings-level">B2</span>
            <span class="settings-level">C1</span>
            <span class="settings-level">C2</span>
        </div>
        <div>
            <h2>Time</h2>
            <span class="settings-time">30</span>
            <span class="settings-time">60</span>
            <span class="settings-time">120</span>
            <span class="settings-time selected">Any</span>
        </div>
    </div>
    <p id="hint" style="display: none;">Show Hint</p>
    <p id="wordCount">B1 Words: 0/178</p>
</div>
<div id="result-area" style="display: none;">
    <div id="outputSection">
        <div id="description-area-result">
            <h2 id="currentWord">Word</h2>
            <p id="currentDescription">Description</p>
        </div>
        <div id="examples-area">
            <p id="firstExample">Example 1</p>
            <p id="secondExample">Example 2</p>
        </div>
        <p id="examplesCaption">Examples</p>
        <p id="resultText">Output Text</p>
    </div>
</div>
<div id="navigation" style="display: none;">
    <p id="startText" style="display: inline;">Click here or press Space to start</p>
    <p id="restartText" style="display: none;">Click here or press Tab to restart</p>
</div>

<div id="suggest-area" style="display: none;">
    <h2>Cription - Guess Your Word</h2>
    <h3>Here, you can guess various words by description.</h3>
    <p style="font-size: larger;">To start guessing new words, you must sign in or sign up.</p>
    <button id="authorizeButton">Sign in / Sign up</button>
</div>