<div id="register-login-area">
    <div class="register">
        <h2>Register</h2>
        <form action autocomplete="nope">
            <div class="valueInput">
                <input type="text" class="usernameInput" placeholder="Username">
            </div>
            <div class="valueInput">
                <input type="email" class="emailInput" placeholder="Email">
            </div>
            <div class="valueInput">
                <input type="email" class="verifyEmailInput" placeholder="Verify email">
            </div>
            <div class="valueInput">
                <input type="password" class="passwordInput" placeholder="Password">
            </div>
            <div class="valueInput">
                <input type="password" class="verifyPasswordInput" placeholder="Verify password">
            </div>
            <button type="submit" disabled>Sign up</button>
            <h3 class="outputRegisterMessage hidden"></h3>
        </form>
    </div>
    <div class="login">
        <h2>Login</h2>
        <form action>
            <div class="valueInput">
                <input type="email" placeholder="Email">
            </div>
            <div class="valueInput">
                <input type="password" placeholder="Password">
            </div>
            <button type="submit" disabled>Sign in</button>
            <h3 class="outputLoginMessage hidden"></h3>
        </form>
    </div>
</div>