<div id="settingsPage-container">
    <h2>Settings</h2>
    <h3 class="setting-name">Blind Mode</h3>
    <p>Hides description</p>
    <div id="description-options">
        <span class="settings-description" onclick="descriptionView(this)">On</span>
        <span class="settings-description" onclick="descriptionView(this)">Off</span>
    </div>
    <h3 class="setting-name">Maximum Attempts</h3>
    <p>Attempts to guess word</p>
</div>