@import url('https://fonts.googleapis.com/css2?family=Liter&display=swap');

:root {
    --space-area-width: 200px;
    --game-area-width: 800px;
    --game-area-height: 500px;
    --medium-font-size: 1.2rem;
    --background-color: #F4F4F4;
    --grey-color: #292B2D;
}

body {
    font-family: "Liter";
    background-color: var(--background-color);
    color: var(--grey-color);
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    color: var(--grey-color);
    background-color: var(--background-color);
    border: 1px solid var(--grey-color);
    cursor: pointer;
}

#navbar {
    font-size: 1rem;
    display: flex;
    width: var(--game-area-width);
    justify-content: space-between;
    margin: auto;
}

#navbar-links {
    display: flex;
    gap: 20px;
    transition: opacity 0.3s ease-in-out;
    margin-top: 35px;
}

.link {
    text-decoration: none;
    color: inherit;
}