#settings-area {
    display: flex;
    width: calc(var(--game-area-width) / 1.5);
    justify-content: space-between;
    margin: auto;
    line-height: 0.8;
    gap: 20px;
    transition: opacity 0.3s ease-in-out;
}

#time-container {
    position: absolute;
    top: 15px;
    right: 10px;
    line-height: 0.8;
    margin-right: 15px;
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
}

#level-display {
    position: absolute;
    top: 15px;
    left: 10px;
    line-height: 0.8;
    margin-left: 15px;
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
}

#description-area,
#result-header {
    position: sticky;
    top: 0;
    padding: 10px;
    line-height: 1.2;
    margin-bottom: 10px;
    background-color: var(--background-color);
}

#game-area,
#result-area,
#welcome-screen {
    position: relative;
    width: var(--game-area-width);
    height: var(--game-area-height);
    margin: auto;
    text-align: center;
    border: 2px solid var(--grey-color);
    overflow-y: auto;
}

#game-area,
#welcome-screen {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#welcome-screen {
    padding: 10px;
    box-sizing: border-box;
}

#word-stats,
#result-message,
#submit-guess {
    width: calc(var(--game-area-width) / 2);
    font-size: var(--medium-font-size);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0;
    border-left: 2px dashed var(--grey-color);
    border-top: 2px dashed var(--grey-color);
    border-right: 2px dashed var(--grey-color);
    padding: 10px;
}

#submit-guess {
    border-left: 2px solid var(--grey-color);
    border-top: 2px solid var(--grey-color);
    border-right: 2px solid var(--grey-color);
    cursor: pointer;
}

#start-game,
#restart-game {
    cursor: pointer;
}

#word-description,
#result-description {
    display: block;
    font-size: var(--medium-font-size);
    margin: auto;
}

#settings-area div {
    flex: 1;
    border: 2px dashed var(--grey-color);
    padding: 20px;
}

#settings-area h2 {
    margin-top: 0;
    margin-bottom: 25px;
}

#result-content {
    width: calc(var(--game-area-width) - var(--space-area-width));
    margin: auto;
}

#navigation-area {
    opacity: 0;
    text-align: center;
    width: calc(var(--game-area-width) / 2);
    margin: auto;
    padding: 10px;
    font-size: var(--medium-font-size);
    border-right: 2px solid var(--grey-color);
    border-bottom: 2px solid var(--grey-color);
    border-left: 2px solid var(--grey-color);
    transition: opacity 0.3s ease-in-out;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

#game-area.visible,
#result-area.visible,
#welcome-screen.visible,
#navigation-area.visible {
    opacity: 1;
}

.settings-time,
.settings-level {
    font-size: 1.1rem;
    margin: 0.3vw;
    margin-bottom: 0.3vw;
    font-weight: normal;
    cursor: pointer;
}

.settings-time.selected,
.settings-level.selected {
    font-weight: bold;
}

.letter-box {
    outline: none;
    box-shadow: none;
    background-color: var(--background-color);
    border: 2px solid var(--grey-color);
    color: var(--grey-color);
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.letter-box.first-box {
    border-right-style: dashed;
}

.letter-box.middle-box {
    border-left-style: none;
    border-right-style: dashed;
}

.letter-box.last-box {
    border-left-style: none;
}

.guessed,
.contains,
.notGuessed {
    color: var(--grey-color);
    border-color: var(--grey-color);
}

.containsLetter {
    background-color: orange;
    font-weight: bold;
}

.guessedLetter {
    background-color: lightgreen;
    font-weight: bold;
}

.notGuessedLetter {
    background-color: lightcoral;
    font-weight: bold;
}

#result-message {
    background-color: transparent;
    font-weight: normal;
}

.notGuessedWord {
    color: darkred;
}

.guessedWord {
    color: darkgreen;
}

#examples-area {
    margin-top: 10px;
    border: 2px dashed var(--grey-color);
    font-size: 1.2rem;
}

#example-1,
#example-2 {
    margin: 10px;
}

#example-caption {
    margin-top: 5px;
    text-align: left;
}

@media (max-width: 1220px) {
    :root {
        --game-area-width: 700px;
    }

    .letter-box {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 500px) {
    :root {
        --game-area-width: 400px;
    }

    #settings-area {
        width: calc(var(--game-area-width) - 60px);
    }

    #word-description,
    #result-description {
        width: calc(var(--game-area-width) - 60px);
    }

    .letter-box {
        width: 25px;
        height: 25px;
    }
}