#register-login-area {
    display: flex;
    width: var(--active-area-width);
    height: var(--active-area-height);
    margin: auto;
    border: 2px solid var(--grey-color);
    overflow-y: auto;
}

#register-area,
#login-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
}

#register-area {
    border-right: 2px dashed var(--grey-color);
}

.heading-area {
    margin: 10px;
    padding: 0;
}

.subhead-area {
    font-size: var(--medium-font-size);
    margin-bottom: 10px;
}

form {
    width: 80%;
}

.valueInput {
    outline: none;
    box-shadow: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    color: var(--grey-color);
    background-color: var(--background-color);
    border: 1px solid var(--grey-color);
}