#auth-container {
    display: flex;
    width: var(--game-area-width);
    height: var(--game-area-height);
    margin: auto;
    border: 2px solid var(--grey-color);
    overflow-y: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#auth-container.visible {
    opacity: 1;
}

#section-register,
#section-login {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
}

#section-register {
    border-right: 2px dashed var(--grey-color);
}

.auth-heading {
    margin: 10px;
    padding: 0;
}

.auth-subtitle {
    font-size: var(--medium-font-size);
    margin-bottom: 10px;
}

form {
    width: 80%;
}

.input-field {
    outline: none;
    box-shadow: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    color: var(--grey-color);
    background-color: var(--background-color);
    border: 1px solid var(--grey-color);
}

@media screen and (max-width: 850px) {
    :root {
        --game-area-width: 90vw;
        --space-area-width: 100px;
        min-height: 450px;
    }

    #auth-container {
        width: 90vw;
        height: auto;
        min-height: 500px;
    }
}

@media screen and (max-width: 600px) {
    #auth-container {
        width: 94vw;
        flex-direction: column;
    }

    #section-register,
    #section-login {
        width: 100%;
        padding: 20px 10px;
    }

    #section-register {
        border-right: none;
        border-bottom: var(--default-dashed-border);
    }

    form {
        width: 100%;
    }

    .input-field {
        box-sizing: border-box;
        padding: 12px;
    }

    .auth-heading {
        font-size: var(--medium-font-size);
    }

    .auth-subtitle {
        font-size: var(--small-font-size);
    }
}